In [1]:
import pandas as pd

In [2]:
import numpy as np

In [14]:
df=pd.read_csv('concat.csv')

In [15]:
df.head()

,SEQN,URXUMA,URXUMS,URXUCR.x,URXCRS,URDACT,WTSAF2YR.x,LBXAPB,LBDAPBSI,LBXSAL,...,WHD080U,WHD080L,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ030M,WHQ500,WHQ520
0,73557,4.3,4.3,39.0,3447.6,11.03,NaN,NaN,NaN,4.1,...,NaN,40.0,270.0,200.0,69.0,270.0,62.0,NaN,NaN,NaN
1,73558,153.0,153.0,50.0,4420.0,306.00,NaN,NaN,NaN,4.7,...,NaN,NaN,240.0,250.0,72.0,250.0,25.0,NaN,NaN,NaN
2,73559,11.9,11.9,113.0,9989.2,10.53,142196.890197,57.0,0.57,3.7,...,NaN,NaN,180.0,190.0,70.0,228.0,35.0,NaN,NaN,NaN
3,73560,16.0,16.0,76.0,6718.4,21.05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0
4,73561,255.0,255.0,147.0,12994.8,173.47,142266.006548,92.0,0.92,4.3,...,NaN,NaN,150.0,135.0,67.0,170.0,60.0,NaN,NaN,NaN

In [16]:
df.dropna(axis=1, how='all')
df.dropna(axis=0, how='all')

df = df.rename(columns = {'SEQN' : 'ID',
                          'RIAGENDR' : 'Gender',
                          'DMDYRSUS' : 'Years_In_US',
                          'DMDMARTL':'Maritial_Status',
                          'DMDFMSIZ':'People_Family',
                          'DMDHHSIZ':'People_Household',
                          'INDFMPIR' : 'Family_Income',
                          'INDHHIN2':'Household_Income',
                          'LBXGH' : 'GlycoHemoglobin',
                          'BMXARMC' : 'ArmCircum',
                          'BMDAVSAD' : 'SaggitalAbdominal',
                          'MGDCGSZ' : 'GripStrength',
                          'DRABF' : 'Breast_Fed',
                          'DIQ050':'Taking_Insulin',
                          'DIQ070':'Taking_Oral_Agents',
                          'DIQ080':'Eyes_Affected',
                         'DIQ300S':'Recent_BP'})

df = df.loc[:, ['ID', 'Gender', 'Years_in_US','Maritial_Status','People_Family','People_Household','Family_income','Household_Income',
                'GlycoHemoglobin', 'ArmCircum','SaggitalAbdominal', 'GripStrength', 'Breast_fed','Taking_Insulin',
               'Taking_Oral_Agents','Eyes_Affected','Recent_BP']]

df.describe()

,ID,Gender,Years_in_US,Maritial_Status,People_Family,People_Household,Family_income,Household_Income,GlycoHemoglobin,ArmCircum,SaggitalAbdominal,GripStrength,Breast_fed,Taking_Insulin,Taking_Oral_Agents,Eyes_Affected,Recent_BP
count,9813.000000,9813.000000,0.0,5561.00000,9813.000000,9813.000000,0.0,9683.000000,6643.000000,9301.000000,7218.000000,7677.000000,0.0,9421.000000,1156.000000,708.000000,708.000000
mean,78644.559971,1.509426,NaN,2.57130,3.730052,3.874147,NaN,10.868016,5.642556,28.485765,21.114034,63.054891,NaN,1.979195,1.556228,1.855932,3869.728814
std,2938.592266,0.499937,NaN,2.65193,1.774712,1.721710,NaN,13.824136,1.004850,7.961971,4.963949,25.098439,NaN,0.188277,0.586534,0.823372,4784.080725
min,73557.000000,1.000000,NaN,1.00000,1.000000,1.000000,NaN,1.000000,3.500000,10.400000,10.100000,8.000000,NaN,1.000000,1.000000,1.000000,88.000000
25%,76092.000000,1.000000,NaN,1.00000,2.000000,2.000000,NaN,5.000000,5.200000,22.600000,17.300000,45.600000,NaN,2.000000,1.000000,2.000000,123.000000
50%,78643.000000,2.000000,NaN,1.00000,4.000000,4.000000,NaN,8.000000,5.400000,29.300000,20.700000,60.300000,NaN,2.000000,2.000000,2.000000,140.000000
75%,81191.000000,2.000000,NaN,5.00000,5.000000,5.000000,NaN,14.000000,5.800000,34.000000,24.400000,80.700000,NaN,2.000000,2.000000,2.000000,9999.000000
max,83731.000000,2.000000,NaN,99.00000,7.000000,7.000000,NaN,99.000000,17.500000,59.400000,40.100000,162.800000,NaN,9.000000,9.000000,9.000000,9999.000000

In [17]:
df.to_csv('renamed.csv',index=False)