In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df1 = pd.read_csv('finalized.csv')
df2 = pd.read_csv('adult.csv')

In [4]:
df = pd.concat([df1, df2], axis=1, join='inner')

In [5]:
df.head()

,ID,Gender,Years_in_US,Maritial_Status,People_Family,People_Household,Family_income,Household_Income,GlycoHemoglobin,ArmCircum,...,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,73557,Male,0,1,3,3,NaN,4.0,13.9,35.3,...,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,73558,Male,0,1,4,4,NaN,7.0,9.1,34.7,...,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,73559,Male,0,1,2,2,NaN,10.0,8.9,33.5,...,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,73560,Male,0,0,4,4,NaN,9.0,5.4,21.0,...,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,73561,Female,0,1,2,2,NaN,15.0,4.9,25.2,...,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [6]:
df.nunique()

ID                    9813
Gender                   2
Years_in_US              1
Maritial_Status          2
People_Family            7
People_Household         7
Family_income            0
Household_Income        16
GlycoHemoglobin        100
ArmCircum              408
SaggitalAbdominal      271
GripStrength          1128
Breast_fed               1
Taking_Insulin           2
Taking_Oral_Agents       2
Eyes_Affected            2
Recent_BP               73
Diabetes                 3
age                     71
workclass                9
fnlwgt                8381
education               16
educational-num         16
marital-status           7
occupation              15
relationship             6
race                     5
gender                   2
capital-gain           104
capital-loss            76
hours-per-week          87
native-country          41
income                   2
dtype: int64

In [7]:
df = df.drop(['Years_in_US','Breast_fed','Maritial_Status','Family_income','Household_Income','People_Household','fnlwgt','Maritial_Status','capital-gain','capital-loss','hours-per-week'],axis=1)

In [8]:
df.head()

,ID,Gender,People_Family,GlycoHemoglobin,ArmCircum,SaggitalAbdominal,GripStrength,Taking_Insulin,Taking_Oral_Agents,Eyes_Affected,...,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,native-country,income
0,73557,Male,3,13.9,35.3,20.6,55.2,1,1,1,...,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K
1,73558,Male,4,9.1,34.7,24.4,61.5,1,1,1,...,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
2,73559,Male,2,8.9,33.5,25.6,91.0,1,1,1,...,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
3,73560,Male,4,5.4,21.0,14.9,32.2,1,0,0,...,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
4,73561,Female,2,4.9,25.2,20.7,30.9,1,0,0,...,?,Some-college,10,Never-married,?,Own-child,White,Female,United-States,<=50K

In [9]:
df.nunique()

ID                    9813
Gender                   2
People_Family            7
GlycoHemoglobin        100
ArmCircum              408
SaggitalAbdominal      271
GripStrength          1128
Taking_Insulin           2
Taking_Oral_Agents       2
Eyes_Affected            2
Recent_BP               73
Diabetes                 3
age                     71
workclass                9
education               16
educational-num         16
marital-status           7
occupation              15
relationship             6
race                     5
gender                   2
native-country          41
income                   2
dtype: int64

In [10]:
df

,ID,Gender,People_Family,GlycoHemoglobin,ArmCircum,SaggitalAbdominal,GripStrength,Taking_Insulin,Taking_Oral_Agents,Eyes_Affected,...,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,native-country,income
0,73557,Male,3,13.9,35.3,20.6,55.2,1,1,1,...,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K
1,73558,Male,4,9.1,34.7,24.4,61.5,1,1,1,...,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
2,73559,Male,2,8.9,33.5,25.6,91.0,1,1,1,...,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
3,73560,Male,4,5.4,21.0,14.9,32.2,1,0,0,...,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
4,73561,Female,2,4.9,25.2,20.7,30.9,1,0,0,...,?,Some-college,10,Never-married,?,Own-child,White,Female,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9808,83727,Female,7,5.0,29.9,19.1,70.1,1,0,0,...,Private,7th-8th,4,Married-spouse-absent,Other-service,Not-in-family,White,Female,United-States,<=50K
9809,83728,Male,6,5.4,14.7,20.7,60.3,0,0,0,...,Private,HS-grad,9,Widowed,Other-service,Not-in-family,White,Female,United-States,<=50K
9810,83729,Male,2,5.3,37.0,24.3,46.6,1,0,0,...,Local-gov,Assoc-acdm,12,Married-civ-spouse,Other-service,Husband,White,Male,United-States,<=50K
9811,83730,Female,4,5.4,19.0,20.7,20.8,1,1,0,...,Private,Bachelors,13,Never-married,Sales,Own-child,White,Female,Greece,<=50K
9812,83731,Female,3,5.4,25.0,17.5,36.0,1,0,0,...,Private,Some-college,10,Divorced,Craft-repair,Own-child,White,Male,United-States,<=50K

In [11]:
df = df.drop(['Gender','relationship','educational-num'],axis=1)

In [14]:
df

,ID,People_Family,GlycoHemoglobin,ArmCircum,SaggitalAbdominal,GripStrength,Taking_Insulin,Taking_Oral_Agents,Eyes_Affected,Recent_BP,...,age,workclass,education,educational-num,marital-status,occupation,race,gender,native-country,income
0,73557,3,13.9,35.3,20.6,55.2,1,1,1,120.0,...,25,Private,11th,7,Never-married,Machine-op-inspct,Black,Male,United-States,<=50K
1,73558,4,9.1,34.7,24.4,61.5,1,1,1,128.0,...,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,White,Male,United-States,<=50K
2,73559,2,8.9,33.5,25.6,91.0,1,1,1,136.0,...,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,White,Male,United-States,>50K
3,73560,4,5.4,21.0,14.9,32.2,1,0,0,136.0,...,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Black,Male,United-States,>50K
4,73561,2,4.9,25.2,20.7,30.9,1,0,0,136.0,...,18,?,Some-college,10,Never-married,?,White,Female,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9808,83727,7,5.0,29.9,19.1,70.1,1,0,0,120.0,...,66,Private,7th-8th,4,Married-spouse-absent,Other-service,White,Female,United-States,<=50K
9809,83728,6,5.4,14.7,20.7,60.3,0,0,0,120.0,...,47,Private,HS-grad,9,Widowed,Other-service,White,Female,United-States,<=50K
9810,83729,2,5.3,37.0,24.3,46.6,1,0,0,120.0,...,57,Local-gov,Assoc-acdm,12,Married-civ-spouse,Other-service,White,Male,United-States,<=50K
9811,83730,4,5.4,19.0,20.7,20.8,1,1,0,120.0,...,30,Private,Bachelors,13,Never-married,Sales,White,Female,Greece,<=50K
9812,83731,3,5.4,25.0,17.5,36.0,1,0,0,120.0,...,26,Private,Some-college,10,Divorced,Craft-repair,White,Male,United-States,<=50K

In [12]:
cols = df.columns.tolist()

In [13]:
cols

['ID',
 'People_Family',
 'GlycoHemoglobin',
 'ArmCircum',
 'SaggitalAbdominal',
 'GripStrength',
 'Taking_Insulin',
 'Taking_Oral_Agents',
 'Eyes_Affected',
 'Recent_BP',
 'Diabetes',
 'age',
 'workclass',
 'education',
 'educational-num',
 'marital-status',
 'occupation',
 'race',
 'gender',
 'native-country',
 'income']

In [ ]:
'''rearrangecols = ['ID',
                 'age','gender','maritial-status','occupation',
 'People_Family',
 'GlycoHemoglobin',
 'ArmCircum',
 'SaggitalAbdominal',
 'GripStrength',
 'Taking_Insulin',
 'Taking_Oral_Agents',
 'Eyes_Affected',
 'Recent_BP',
 'Diabetes',
 'workclass',
 'education',
 'educational-num',
  'race',
 'native-country',
 'income']'''